@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.font-style-arimo{
  font-family: 'Arimo', sans-serif;
}

.font-style-Bebas{
  font-family: 'Bebas Neue', cursive;
}

.two-color-shadow{
  box-shadow: 5px 5px 15px #79F059, -15px -15px 5px -5px #e6e92a;
}