@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.font-style-arimo{
  font-family: 'Arimo', sans-serif;
}

.font-style-Bebas{
  font-family: 'Bebas Neue', cursive;
}

.two-color-shadow{
  box-shadow: 5px 5px 15px #79F059, -15px -15px 5px -5px #e6e92a;
}

/* line bottom text animetion */
a{
  position: relative;
}

.lineBottomAnimetion::after{
  content: '';
  width: 0%;
  height: 2px;
  position:absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s;
}

.lineBottomAnimetion:hover::after{
  width: 50%;
}

/* Hero text Animetion */
.heroTextAnimetion{
  color: transparent;
  -webkit-text-stroke: 0.1px black;
  background: url("../../../public/assets/images/BACKGROUND/HERO_TEXT_BACKGROUD.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}

@keyframes back{
  100%{
    background-position: 2000px 0;
  }
}

/* Slide Left */
.slide-left {
  overflow: hidden;
  animation: slideleft 1s alternate forwards;
}

@keyframes slideleft {
    0%{
        transform: translate(200px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

/* side right */
.slide-right {
  overflow: hidden;
  animation: slideright 1s alternate backwards;
}

@keyframes slideright {
    0%{
        transform: translate(-200px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

/* float animetion */
.floatFrame {
	transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Hue Animetion */
.hue-animate:hover {
  background-color: red;
  -webkit-animation: filter-animation 2s infinite;
  animation: filter-animation 2s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  
  25% {
    -webkit-filter: hue-rotate(25deg);
  }

  50% {
    -webkit-filter: hue-rotate(50deg);
  }

  75% {
    -webkit-filter: hue-rotate(25deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}


/* gallary like pintrest */
.masonry-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
    
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 25px;
}

.masonry-item {
  display: inline-block;
  width: 100%;
}

.masonry-item img {
  display:block;
  width: 100%;
}

/* Just for decoration: */
.masonry-item span {
  font-family: sans-serif;
  display:block;
  padding:10px;
}

.masonry-item {
  margin-bottom: 15px;
}

@media screen and (max-width: 400px){
  .masonry-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
      
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 25px;
  }
}